<div>
  <div class="row">
    <div class="col-md-3">
        <ul>
            <li> Gap: </li>
        </ul>
    </div>
    <div class="col-md-1">{{parameters.gap}}  μm </div>
    <div class="col-md-2">
        <select [(ngModel)]="selectedGap">
            <option *ngFor="let item of gaps;">{{item}}</option>
          </select>          
    </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> Techantillonnage: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.echantil}} ns</div>
      <div class="col-md-2">
          <select [(ngModel)]="selectedEchantil">
              <option *ngFor="let item of echantillons;">{{item}}</option>
          </select>          
      </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> NbPistes: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.nbpistes}}</div>
      <div class="col-md-2">
          <select [(ngModel)]="selectedNbpiste">
              <option *ngFor="let item of nbpistes;">{{item}}</option>
          </select>          
      </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> PixelSize: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.pixelsize}}  μm</div>
      <div class="col-md-2">
          <select [(ngModel)]="selectedPixelsize">
              <option *ngFor="let item of pixelsizes;">{{item}}</option>
          </select>          
      </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> PreTrigger: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.pretrigger}}</div>
      <div class="col-md-2">
          <select [(ngModel)]="selectedPretrigger">
              <option *ngFor="let item of pretriggers;">{{item}}</option>
          </select>          
      </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> PosMax: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.posMax}}</div>
      <div class="col-md-2">
          <select [(ngModel)]="selectedPosmax">
              <option *ngFor="let item of posmaxs;">{{item}}</option>
          </select>          
      </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> Edge: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.edge}}</div>
      <div class="col-md-2">
          <select [(ngModel)]="selectedEdge">
              <option *ngFor="let item of edges;">{{item}}</option>
          </select>          
      </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> Mode Sélection: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.selectionMode}}</div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> Seuil Flash-ADC: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.seuilAdc}}</div>
      <div class="col-md-2">
          <select [(ngModel)]="selectedSeuilAdc">
              <option *ngFor="let item of seuilADCs;">{{item}}</option>
          </select>          
      </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <ul>
              <li> autoRestart: </li>
          </ul>
      </div>
      <div class="col-md-1">{{parameters.autoRestart}}</div>
  </div>
</div>


<div>
  <div class="row">
    <div class="col-md-3">
        <form (ngSubmit)="goBack()" novalidate>
            <button type="submit">Retourner</button> 
        </form>
    </div>
    <div class="col-md-3">
        <form (ngSubmit)="modifier()" novalidate><button type="submit">Valider</button></form>
    </div>
  </div>
    
</div>

  <!--p>Elément sélectionné : {{this.selectedGap}}</p-->
