
        Specifications :
    <ul>
        <li> Generic acquisition software for physics experiments </li>
        <li>        Really fast and scalable     </li>
        <li>        Multithreaded data collection by ethernet   </li>
        <li>        Fully multithreaded sorting and filtering features   </li>
        <li>        Tested and proven in many experiments (OPERA, DIAPHANE, etc.) </li>
        <li>        Up to 10 years of uninterrupted data acquisition   </li>
        <li>   Up to thousands internet devices continuously interrogated     </li>
        <li>  Secured web interface, intuitive and responsive based on HTML5 and Websockets   </li>
        <li>   Very portable and adaptable </li>
    </ul>
     
    <img width="150" src ="http://localhost/daq/images/logoIN2P3-CNRS.png" alt="libnavaro">
    <img width="150" src ="http://localhost/daq/images/zDaq_banner_logo.png" alt="libnavaro">
