<div class="container">
    <div class="row">
        <div class="col-md-1">
            <a routerLink="param">Parametre</a>  
            
        </div>
        <div class="col-md-1">
            <a routerLink="daq">DAQ</a>
        </div>
  </div>
</div>



<!--div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="#" (click)="testClick('param')">Parametre</a>
            </div>
            <div class="col-md-1">
                <a href="#" (click)="testClick('daq')">DAQ</a>
            </div>
        </div>
        <div>
                <ng-container *ngIf="getModule==true; then parameter else daqtem"></ng-container>
                <ng-template #parameter> 
                    <app-daq></app-daq>
                </ng-template>
    
                <ng-template #daqtem> 
                        <app-parameter></app-parameter>
                </ng-template>
    
        </div>
</div-->