<p>
  parameter works!
</p>



<div class="row">
  <div class ="col-md-4">
    <hr><br>
    <form (ngSubmit)="logOut()" novalidate>
      <button type="submit">Se Déconnecter</button>  </form>
  </div>

  <div class ="col-md-4">
    <hr><br>
    <form (ngSubmit)="listeLogs()" novalidate>
      <button type="submit"> Log</button>  </form>
  </div>

  <div class ="col-md-4">
      <hr><br>
      <form (ngSubmit)="getConfig()" novalidate>
        <button type="submit"> getConfig</button>  </form>
        <div>
          Parametre du capteur : {{param.numPlan}} , {{param.numSenSor}}
          <li>
              post max : {{param.posMax}}
          </li>
          <li>
              Selection Mode : {{param.selectionMode}}
          </li>
        </div>
    </div>
</div>
